.copy {
    margin: 1em;
    background-color: lightcoral;
    border: 5em;
    text-align: center;
}

.footer {
    background-color: lightcoral;
    margin: 0;
    border: solid lightcoral;
    font-size: 1.5rem;
}

.imagem{
    width: 5%;
} 