.copy {
    margin: 1em;
    background-color: rgb(75, 201, 255);
    border: 5em;
    text-align: center;
}

.footer {
    background-color: rgb(75, 201, 255);
    margin: 0;
    border: solid rgb(75, 201, 255) 10px;
    font-size: 1.5rem;
}