.cabecalho{
    display: flex;
    justify-content: space-around;
    background-color: #57C5B6;
}

.titulo{
    display: flex;
    font-size: 3em;
    color: black;
    background-color: #57C5B6;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.subtitulo{
    display: flex;
    font-size: 2em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}