.cabecalho{
    display: flex;
    justify-content: space-around;
    background-color: #ffd000;
}

.titulo{
    font-size: 3em;
    color: black;
    background-color: #ffd000;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.subtitulo{
    font-size: 2em;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}